body {
    background-color: #ecf0f1;
}
* {
    font-family: 'Kanit', sans-serif;
}
.Month-Thai {
    color: #ffffff;
    text-align: center;
    background-color: #a4c400;
    border: 0px solid #a4c400;
    font-size: 40px;
}
.Month-Eng {
    color: #ffffff;
    text-align: center;
    background-color: #a4c400;
    border: 0px solid #a4c400;
    font-size: 30px;
}
.Year {
    color: rgba(0,0,0,0.4);
    text-align: center;
    background-color: #a4c400;
    border: 0px solid #a4c400;
    font-size: 30px; 
    height: 50px;   
}
.line0 {
    margin: 0px;
}
.line1 {
    margin: 10px;
}
.a {
    width: 13.9%;
    display: inline-block;
    text-align: center;
    font-size: 25px;
}
.holiday-day {
    color: #ff4d4d ;
    text-align: center;
    width: 13.9%;
    height: 20px;
    display: inline-block;
    font-size: 25px;
    /*background-color: #ff6666;*/
    /*border: 0px solid #a4c400;*/

}
.day-day {
    color: #4d88ff;
    text-align: center;
    width: 13.9%;
    height: 20px;
    display: inline-block;
    font-size: 25px;
}
.holiday {
    color: #ff4d4d ;
    text-align: center;
    width: 13.9%;
    height: 80px;
    display: inline-block;
    font-size: 25px;

}
.day {
    color: #4d88ff;
    text-align: center;
    width: 13.9%;
    height: 80px;
    display: inline-block;
    font-size: 25px;
    /*background-color: #80aaff;*/
    /*border: 0px solid #a4c400;*/
}
.birthday {
    color: #a4c400 ;
    text-align: center;
    width: 13.9%;
    height: 80px;
    display: inline-block;
    font-size: 25px;
}

